<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Importadora Sky</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="white" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="../../../public/img/h1.png" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Bienvenido a U.S Cargo el servicio Courier de Importadora Sky</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 5px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">
										<p>
											Usted ha creado un casillero el día de Hoy, esto le permitir&aacute tener una direcci&oacuten en Miami, FL donde van a llegar los art&iacuteculos o mercanc&iacutea que compre en los Estados Unidos o que sus proveedores le env&iacuteen; perm&iacutetanos asesorarle en cualquier proceso log&iacutestico y de compras en el exterior, nosotros podemos guiarlo en como usted debe hacer sus compras en l&iacutenea, recuerde que nosotros le haremos llegar sus env&iacuteos hasta la puerta de su casa o negocio en Colombia, y recuerde que tanto el CASILLERO como la ZONA DE ALMACENAJE para consolidar sus compras son completamente gratis, siempre buscamos que nuestros clientes ahorren en sus env&iacuteos.
										</p>
									</td>
								</tr>
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Datos de registro</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">
										<b>Sus datos de acceso al sistema son:</b>
										<p>
										<li><b>Usuario:</b> 123456789</li>
										<li><b>Contraseña:</b> R$uarez1</li>
										</p>
										<p>
											Cuando su proveedor o la p&aacutegina web donde realiza la compra le pide la direcci&oacuten de envio o SHIPPING ADDRESS usted deber&aacute escribirla de la siguiente manera:
										</p>
										<li><b>Name:</b> RENNY SUAREZ Sky</li>
										<li><b>Address:</b> 6511 NW 87th Ave</li>
										<li><b>City:</b> MIAMI</li>
										<li><b>State:</b> FLORIDA</li>
										<li><b>ZIP CODE:</b> 33178</li>
										<li><b>Phone number:</b> 512 2347692</li>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">
										<b>El link para entrar desde su cuenta es:</b>
										<p>
										<li><b>www.importadorasky.com</b></li>
										</p>
										<p>
											Tener en cuenta que si requiere que le consolidemos sus paquetes para realizar un solo envi&oacute, debe notificarnos en la plataforma web de su casillero los n&uacutemeros de gu&iacutea / Tracking number que debemos juntar.
										</p>
										<p>
											Cuando est&eacuten llegando estos paquetes, nuestro sistema le notificara , fecha de entrega, tipo de paquete y contenido, cuando toda su carga este consolidada procederemos con el envio hacia el destino final que usted indique en Colombia.

											Gracias y cualquier inquietud no dude en contactarnos.
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tr>
												<td width="260" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td>
																<img src="../../../public/img/left.gif" alt="" width="100%" height="140" style="display: block;" />
															</td>
														</tr>
														<tr>
															<td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
																La informacion acerca de sus consolidados podra ser consultada en cualquier dispositivo movil o de escritorios de nuestra herramienta web www.importadorasky.com/login.
															</td>
														</tr>
													</table>
												</td>
												<td style="font-size: 0; line-height: 0;" width="20">
													&nbsp;
												</td>
												<td width="260" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td>
																<img src="../../../public/img/right.gif" alt="" width="100%" height="140" style="display: block;" />
															</td>
														</tr>
														<tr>
															<td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
																Usted puede consultarnos los tiempos de envios y estatus de cada uno de sus paquetes, gracias a nuestro novedoso sistema automatizado.
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; text-align: justify;" width="75%">
										<p>
										&reg; © 2018 Importadora Sky. All Rights Reserved<br/>
										</p>
										<p>
											COLOMBIA, Calle 35#29-54 Oficina 806, Celular / WhatsApp: 317-5608824, U.S.A - OPERATION CENTER
                                            9759 Misty Plain Drive, San Antonio Texas 78238 U.S.A, Phone: (512) 234-7692, CHINA - CANTON WINNER, Fuwei Building, Guangfo Rd Room #522, Foshan, Guangdong Province.
										</p>
										
										<a href="#" style="color: #ffffff;">
									</td>
									<td align="right" width="25%">
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
													<a href="http://www.twitter.com/" style="color: #ffffff;">
														<img src="../../../public/img/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
													</a>
												</td>
												<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
												<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
													<a href="http://www.facebook.com/" style="color: #ffffff;">
														<img src="../../../public/img/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
													</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>